/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    background-color: #ffba08;
    color: blue;
    font-family: sans-serif;
    padding: 20px
}

img {
    width: 40px;
    border-radius: 30px;
    width: 80px;
    height: 50px
}
#about{
    border: 5px solid red;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.hero-section{
    background-image: url("images/madrid.jpg");
    background-size: cover;
   }
    padding: 100px
   .warner{
       display: flex;
  align-items: center;
   }
       padding: 100px
   }
   .water{
         display: flex;
  align-items: center;
   }
    padding: 100px
   .zoo{
        display: flex;
  align-items: center;
   }

       
   
   .adultactivities-section{
        display: flex;
  justify-content: center;
  vertical-align: top;
  text-align: center;
   }
   #madridtourism-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffba08;
    border: 5px solid red;

}
#profile{
    height: 100px;
    width: 100px;
     border: 5px solid red;
    padding: 0;
    margin: 20px;
    border-radius: 10px;
}
#guide-section{
    border: 5px solid red;
    padding: 20px;
    margin: 20px;
    border-radius: 10px; 
}
